<div class="entry-content herald-entry-content">




    <p>മയ്യിത്തിനുവേണ്ടി നമസ്‌കരിക്കേണ്ടത് സാമൂഹികബാധ്യതയാണെന്നതില്‍ കര്‍മശാസ്ത്രപണ്ഡിതന്‍മാര്‍ ഏകാഭിപ്രായക്കാരാണ്.
        ഖബ്ബാബില്‍നിന്ന് മുസ് ലിം നിവേദനംചെയ്യുന്നു:അദ്ദേഹം ചോദിച്ചു:’ഓ, അബ്ദുല്ലാഹിബ്‌നു ഉമര്‍! അബൂഹുറൈയ്‌റ(റ)
        നബി(സ)യില്‍നിന്ന് കേട്ടതായി പറഞ്ഞത് താങ്കള്‍ കേട്ടില്ലേ? മയ്യിത്തിനോടൊപ്പം അതിന്റെ വീട്ടില്‍നിന്ന് പുറപ്പെടുകയും
        നമസ്‌കരിക്കുകയും സംസ്‌കരിക്കപ്പെടുന്നതുവരെ അതിനെ അനുഗമിക്കുകയും ചെയ്തവന് രണ്ട് ഖീറാത്ത് പുണ്യമുണ്ട്. ഓരോ
        ഖീറാത്തും ഉഹുദ് മലയോളം വലുതാണ്. മയ്യിത്തിനുവേണ്ടി നമസ്‌കരിച്ച് മടങ്ങിപ്പോന്നവനുമുണ്ട് ഉഹുദ് മലയോളം പ്രതിഫലം.’
    </p>
    <p>നമസ്‌കാരം എന്ന പദം കൊണ്ടാണ് മയ്യിത്ത് നമസ്‌കാരവും വ്യവഹരിക്കപ്പെടുന്നത് എന്നതിനാല്‍ നിര്‍ബന്ധനമസ്‌കാരങ്ങളില്‍
        പാലിക്കപ്പെടുന്നതുപോലെ ശുചിത്വം , ചെറുതും വലുതുമായ അശുദ്ധികളില്‍നിന്നുള്ള മുക്തി, ഖിബ് ലയെ അഭിമുഖീകരിക്കുക,
        നഗ്നത മറയ്ക്കുക തുടങ്ങി എല്ലാ നിബന്ധനകളും ഇതിലും പാലിക്കേണ്ടത് നിര്‍ബന്ധമാണ്.</p>
    <p><strong>മയ്യിത്ത് നമസ്‌കാരത്തിന്റെ റുക്‌നുകള്‍</strong></p>
    <p>1. നിയ്യത്ത്<br>
        2. സാധിക്കുന്നവര്‍ നില്‍ക്കുക<br>
        3. നാലു തക്ബീറുകള്‍<br>
        4. ഫാതിഹ, സ്വലാത്ത് , സലാം<br>
        5. മയ്യിത്തിനുവേണ്ടി പ്രാര്‍ഥിക്കുക<br>
        6. നാലാം തക്ബീറിനുശേഷമുള്ള പ്രാര്‍ഥന<br>
        7. സലാം വീട്ടല്‍</p>
    <p><strong>മയ്യിത്ത് നമസ്‌കാരത്തിന്റെ രൂപം</strong><br>
        മയ്യിത്തിന്റെ ഏറ്റവും അടുത്ത അവകാശികളാണ് ഇമാമായി നില്‍ക്കേണ്ടത്. പുരുഷനാണെങ്കില്‍ തലഭാഗത്തും സ്ത്രീയുടെ
        മയ്യിത്താണെങ്കില്‍ മധ്യഭാഗത്തുമാണ് നില്‍ക്കേണ്ടത്. മയ്യിത്തിനുവേണ്ടി നമസ്‌കരിക്കുന്നവര്‍ മൂന്നു അണികളായി
        നില്‍ക്കുക എന്നതും ആ മൂന്നു അണികള്‍ സമമായിരിക്കുക എന്നതും സുന്നത്താണ്.</p>
    <p>1.മുന്നിലുള്ള മയ്യിത്തിനുവേണ്ടി നമസ്‌കരിക്കുന്നു എന്ന ഉദ്ദേശ്യത്തോടെ നില്‍ക്കുക.<br>
        2.രണ്ടുകൈകളും ഉയര്‍ത്തി തക്ബീറതുല്‍ ഇഹ്‌റാം ചൊല്ലുക. ശേഷം വലതുകൈ ഇടതുകൈയിന്‍മേല്‍ വെച്ചശേഷം സൂറതുല്‍ ഫാതിഹ
        ഓതുക.<br>
        3.വീണ്ടും തക്ബീര്‍ ചൊല്ലിയ ശേഷം നബിയുടെ പേരിലുള്ള സ്വലാത്ത് ചൊല്ലുക. താഴെകൊടുത്തപ്രകാരമുള്ള ഇബ്‌റാഹീമീ സ്വലാത്ത്
        ആണ് ഏറ്റവും ഉല്‍കൃഷ്ടം.</p>
    <h3 style="direction: rtl;"><strong>اللَّهُمَّ صَلِّ عَلَى مُحَمَّدٍ، وَعَلَى آلِ مُحَمَّدٍ، كَمَا صَلَّيْتَ عَلَى
            إِبْرَاهِيمَ، وَعَلَى آلِ إِبْرَاهِيمَ</strong><strong>، &nbsp;وَبَارِكْ عَلَى مُحَمَّدٍ، وَعَلَى آلِ
            مُحَمَّدٍ، كَمَا بَارَكْتَ عَلَى إِبْرَاهِيمَ، وَعَلَى آلِ إِبْرَاهِيمَ، فِي الْعَالَمِينَ إِنَّكَ حَمِيدٌ
            مَجِيدٌ</strong></h3>
    <p>(അല്ലാഹുമ്മ സ്വല്ലി അലാ മുഹമ്മദിന്‍ വ അലാ ആലി മുഹമ്മദ് കമാ സ്വല്ലയ്ത അലാ ഇബ്‌റാഹീമ വ അലാആലി ഇബ്‌റാഹീം, വ ബാരിക്
        അലാ മുഹമ്മദിന്‍ വഅലാ ആലി മുഹമ്മദ് കമാ ബാറക്ത അലാ ഇബ്‌റാഹീമ വഅലാ ആലി ഇബ്‌റാഹീം ഫില്‍ ആലമീന ഇന്നക ഹമീദുന്‍
        മജീദ്).<br>
        ഇത് മുഴുവന്‍ അറിയാത്തവര്‍ ‘അല്ലാഹുമ്മ സ്വല്ലി അലാ മുഹമ്മദ് വ അലാ ആലി മുഹമ്മദ്’ എന്ന് പറഞ്ഞാലും മതിയാകും.</p>
    <p>4. വീണ്ടും തക്ബീര്‍ ചൊല്ലിയശേഷം മയ്യിത്തിനുവേണ്ടി പ്രാര്‍ഥിക്കുക</p>
    <h3 style="direction: rtl;"><strong>اللَّهُمَّ اغْفِرْ لَهُ وَارْحَمْهُ وَعَافِهِ وَاعْفُ عَنْهُ وَأَكْرِمْ نُزُلَهُ
            وَوَسِّعْ مُدْخَلَهُ وَاغْسِلْهُ بِالْمَاءِ وَالثَّلْجِ وَالْبَرَدِ وَنَقِّهِ مِنْ الْخَطَايَا كَمَا
            نَقَّيْتَ الثَّوْبَ الْأَبْيَضَ مِنْ الدَّنَسِ وَأَبْدِلْهُ دَارًا خَيْرًا مِنْ دَارِهِ وَأَهْلًا خَيْرًا
            مِنْ أَهْلِهِ وَزَوْجًا خَيْرًا مِنْ زَوْجِهِ وَأَدْخِلْهُ الْجَنَّةَ وَأَعِذْهُ مِنْ عَذَابِ الْقَبْرِ أَوْ
            مِنْ عَذَابِ النَّارِ</strong></h3>
    <p>(അല്ലാഹുമ്മ ഗ്ഫിര്‍ ലഹു വര്‍ഹംഹു വഅ്ഫു അന്‍ഹു വആഫിഹി വഅക്‌രിം നുസ്‌ലഹു വവസ്സിഅ് മദ്ഖലഹു വഗ്‌സില്‍ഹു ബില്‍മാഇ
        വസ്സല്‍ജി വല്‍ ബര്‍ദ് വനഖ്വിഹി മിനല്‍ ഖത്വായാ കമാ യുനഖ്വസ്സൗബുല്‍ അബ്‌യദു മിനദ്ദനസ് വഅബ്ദില്‍ഹു ദാറന്‍ ഖയ്‌റന്‍
        മിന്‍ ദാരിഹി, വ അഹ്‌ലന്‍ ഖയ്‌റന്‍ മിന്‍ അഹ്‌ലിഹി, വസൗജന്‍ ഖൈറന്‍ മിന്‍ സൗജിഹി വഅദ്ഖില്‍ഹുല്‍ ജന്നത വ അഇദ്ഹു
        മിന്‍ അദാബില്‍ ഖബ്‌രി വ അദാബിന്നാര്‍.’ (മുസ്‌ലിം)</p>
    <p>മയ്യിത്ത് ശിശുവിന്റെതാണെങ്കില്‍ മാതാപിതാക്കള്‍ക്ക് വേണ്ടി പ്രാര്‍ഥിക്കാം</p>
    <h3 style="direction: rtl;">اللهم اجعله فرطا لابويه، وسلفا وذخرا وعظة واعتبارا وشفيعا، وثقل به موازينهما، وأفرغ
        الصبر على قلوبهما</h3>
    <p>(അല്ലാഹുമ്മജ്അല്‍ഹു ഫറത്വന്‍ ലി അബവൈഹി വസലഫന്‍ വദുഖ്‌റന്‍ വഇളതന്‍ വഅ്തിബാറന്‍ വശഫീഅന്‍ വഥഖ്ഖില്‍ ബിഹി മവാസീനഹുമാ
        വഅഫ്‌രിഗി സ്വബ്‌റ അലാ ഖുലൂബിഹിമാ’)</p>
    <p>5. നാലാം തക്ബീറിനുശേഷം</p>
    <h3 style="direction: rtl;">&nbsp;<b><span style="color: green;">اللَّهُمَّ لَا تَحْرِمْنَا أَجْرَهُ ، وَلَا
                تَفْتِنَّا بَعْدَهُ&nbsp;</span></b></h3>
    <p>(അല്ലാഹുമ്മ ലാ തഹരിംനാ അജ്റഹു വലാ തഫ്തിന്നാ ബഅ്ദഹു) (അല്ലാഹുവേ ഇതിന്റെ പ്രതിഫലം നീ ഞങ്ങള്‍ക്ക് തടയരുതേ,
        ഇദ്ദേഹത്തിനു ശേഷം നീ ഞങ്ങളെ നാശ ത്തിലാക്കുകയും അരുതേ) എന്നു പറയുകയും ശേഷം അസ്സലാമു അലൈക്കും വറഹ്മത്തുല്ലാ എന്ന്
        പറഞ്ഞുകൊണ്ട് സലാം വീട്ടുകയും ചെയ്യുക.</p>
    <p>മയ്യിത്ത് നമസ്‌കാരത്തില്‍ തക്ബീറുകള്‍ക്ക് ശേഷമേ ഒരാള്‍ക്ക് നമസ്‌കാരത്തില്‍ ചേരാന്‍ കഴിഞ്ഞുള്ളൂവെങ്കില്‍
        തുടര്‍ച്ചയായി അവ ചെയ്തുവീട്ടാവുന്നതാണ്. അങ്ങനെചെയ്തില്ലെങ്കിലും കുഴപ്പമില്ല. ഇബ്‌നുഉമര്‍, ഹസന്‍, ഔസാഇ എന്നിവര്‍
        പറയുന്നതിങ്ങനെ: ‘മയ്യിത് നമസ്‌കാരത്തില്‍ നഷ്ടപ്പെട്ട തക്ബീറുകള്‍ വീട്ടേണ്ടതില്ല. അയാള്‍ ഇമാമോടൊത്ത് സലാം
        ചൊല്ലിയാല്‍ മതി.’ഇനി ആരെങ്കിലും മയ്യിത്ത് നമസ്‌കാരവേളയില്‍ എത്താന്‍ കഴിയാതെ ഖബറടക്കത്തിന് ശേഷമാണ്
        എത്തിയതെങ്കില്‍ ഖിബ്‌ലയുടെയും തന്റെയും ഇടയില്‍ ഖബ്‌റിനെ ആക്കി നമസ്‌കരിക്കുന്നതാണ് സുന്നത്. ഒരു നാട്ടിലുള്ള
        മയ്യിത്തിനുവേണ്ടി അടുത്തോ അകലെയോ സ്ഥിതിചെയ്യുന്ന മറ്റൊരു നാട്ടില്‍വെച്ചും നമസ്‌കരിക്കാം.</p>
    <p>ചെറിയ ശിശു, ജീവനുണ്ടെന്ന് അറിയുകയും വീണ്ടും ശബ്ദിക്കുകയുംചെയ്താല്‍ അതിനുവേണ്ടി നമസ്‌കരിക്കേണ്ടതാണെന്നതില്‍
        പണ്ഡിതന്‍മാര്‍ യോജിച്ചിരിക്കുന്നു. ഗര്‍ഭം നാലുമാസം തികയുന്നതിനുമുമ്പ് പ്രസവിപ്പിക്കപെടുന്ന ചാപിള്ളയെ
        കുളിപ്പിക്കുകയോ നമസ്‌കരിക്കുകയോ ചെയ്യേണ്ടതില്ല. ഒരു തുണിയില്‍ പൊതിഞ്ഞ് മറവുചെയ്താല്‍ മതിയാകും.</p>



</div>